img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid_gambar{
    display: grid;
    grid-template-columns: (3, 1fr);
    grid-template-rows: (3, 1fr);
    gap: 8px;
    justify-content: center;
}
.grid_gambar img:nth-child(1){
    grid-area: 1/1/3/2;
}
.grid_gambar img:nth-child(2){
    grid-area: 3/1/4/2;
}
.grid_gambar img:nth-child(3){
    grid-area: 1/2/2/3;
}
.grid_gambar img:nth-child(4){
    grid-area: 2/2/4/3;
}
.grid_gambar img:nth-child(5){
    grid-area: 1/3/3/4;
}
.grid_gambar img:nth-child(6){
    grid-area: 3/3/4/4;
}