:root{
--background-color:rgb(0, 0, 0);
--font-color:rgb(255, 255, 255);
--form-bg-color: rgba(255, 255, 255, 0.14);
--form-border-color: rgba(255, 255, 255, 0.2);
--box-shadow:8px 8px 30px rgba(255, 255, 255, 0.18);
--placeholder-color: #b0b0b0;
--input-focus-shadow: rgba(255, 187, 51, 0.6);
}
body{
    font-family: 'segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:var(--background-color);
    display: flex;
    justify-content:center;
    align-items: center;
    color:var(--font-color);
    height: 100vh;
    margin: 0;
}
.container{
    background-color: var(--form-bg-color);
    border: 1px solid var(--form-border-color);
    border-radius: 20px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    box-shadow: var(--box-shadow);
    margin-bottom: 1.5rem;
}
.form_group{
    margin-bottom: 1.5rem;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--font-color);
}
input[type='text'],
input[type='email'],
input[type='password']{
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid var(--form-border-color);
    background-color: var(--form-bg-color);
    color: var(--font-color);
    font-size: 1rem;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
input::placeholder{
    color: var(--placeholder-color);
}
input:focus{
    box-shadow: 0 0 10px var(--input-focus-shadow);
}
.password_container{
    position: relative;
}
.shw_password_btn{
    position: absolute;
    top: 21.5rem;
    right: 38rem;
    background: none;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}
.closedeye{
    top: 26rem;
}
